<div ng-controller="GameCtrl as game" ng-init="game.init()" flex="none">
	<md-toolbar layout="row" layout-align="space-between center">
		<div class="md-toolbar-tools">
	      		<h2 class="md-headline primary-font" layout-align="center center">
	       			ARNOLD TIME!
	      		</h2>
	      		<span flex></span>
	      		Created by Christopher Katsasras
	    </div>
	</md-toolbar>
	<div layout="column" layout-align="center center">
		<br><br>
		<div id="field" class="field"></div>

		<!--XXX Just for testing-->
		<!--<canvas id="c" width="1100" height="500"></canvas>-->
	</div>