<div>
	<md-dialog aria-label="City Form" flex="100">
	  	<md-toolbar> <!--Header bar for the efp modal popup.-->
	    	<div class="md-toolbar-tools">
	      		<h2 class="font-primary f2f-text-brown">
	       			ARNOLD TIME!
	      		</h2>
	      		<span flex></span>
	    	</div>
	  	</md-toolbar>

	  	
	  <!--Content of modal-->
	 	<md-dialog-content class="section" layout-margin>
	 	<img src="img/ARNOLD.jpg"/>
			<form name="myForm" ng-submit="game.joinGame(inputValue); game.cancelModal();">
				<md-input-container>
					<label>Name</label>
						<input ng-model="inputValue" type="text" ng-model="mytext" required />
				</md-input-container>
				
			</form>
	 	</md-dialog-content>
	  <!--Button at bottom of modal-->
	  	<md-dialog-actions>
	    	<md-button class="md-raised md-primary" ng-click="game.joinGame(inputValue); game.cancelModal()" ng-disabled="myForm.$invalid || myForm.$pending">Send</button>
	 	</md-dialog-actions>
	</md-dialog>
</div>