.tank{
	position: absolute;
	background-repeat: no-repeat;
	background-position: -10px 0;
}

.tank1{
	background-image: url('../img/handgun.png');
	height: 99px;
	width: 137px;
}

.field {
	background-image: url('../img/dirt.png');
	min-width: 1100px; /*Prevents arena from shrinking*/
}
