.tank{
	position: absolute;
	background-repeat: no-repeat;
	background-position: -10px 0;
}

.tank1{
	background-image: url('../img/handgun.png');
	height: 128px;
	width: 100px;
}

.field {
	background-image: url('../img/dirt.png');
	min-width: 1100px!important; /*Prevents arena from shrinking*/
	border-image: url('../img/handgun.png') 30 round;
}

.bullet {
	position: absolute;
	background-image: url('../img/bullet.png');
	height: 20px;
	width: 12px;
}

.point {
	width: 5px;
	height: 5px;
	background-color: blue;
	position: absolute;
	display: block;
}